/* css_contador_ejercicio.css */


/* Apartado 1:
   Numerar los párrafos con el número de cada sección 
   siguiendp este formato: (1.1), (1.2), ...(2.1), (2.2) */


/* Apartado 2:
   Numerar cabeceras de nivel 2 y nivel 3 del modo 
      1, 1.1, 1.2, 2, 2.1, 2.2, 2,3, etc. */