/* basico.css */

/* layout común */
#contenedor {
  margin: auto; /* centrar  */
  width: 90%;
  /* Probar uso de max-width y min-width */
}
  
#contenedor > *{
  padding: 0.5em;
}


/* colores para ver mejor los bloques*/

article {
  background-color: tomato;
}

nav {
  background-color: #aa0;
}

aside {
  background-color: #cc5;
}

footer {
  background-color: green;
}

header {
  background-color: yellow;
}