
form.grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .2em;

    margin:auto;
    padding: .5em;
    border: 1px solid grey;
}

form.grid input {
    margin-bottom: 1em;
}

h2 {
    text-align: center;
}

@media screen and (min-width: 620px) {
    form.grid {
        grid-template-columns: 1fr 3fr;
    }
    
}

@media screen and (min-width: 820px) {
    form.grid {
        max-width: 900px;
        margin: auto
    }
    
}