#ppal {
  /* el ancho se lo da grid-template-columns */
  border: 4px solid lightcoral;
  padding: 1em;
}

/* Parte aplicación grid 1: contenedor */
#contenedor {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

/* Parte aplicación grid 2: elemento a posicionar */
#ppal {
  grid-row: 2;
  grid-column: 2;
}


