/* tablas.css */

/* decorativo */
div[class]::before {
    content: "Div de la clase " attr(class) ;
    font-style: italic;
    color: grey;
    background-color: yellow;
}
div {
    margin: 60px 0;
}

/* ejemplo sobre tabla en div.basico 
   - borders
   - collapse
   - border-spacing 
   - width y margim auto */

/* BORDES: se podrían aplicar bordes distintos a cada uno */
.basico table, .basico td, .basico th {
    border: dotted 2px red;
}

/* collapse y spacing */
.basico table {
    /* comentar/descomentar: por defecto separate */
    /* border-collapse: collapse;  */

    /* necesita border-collapse: separate */
    border-spacing: 4px 8px;  /* horizontal vertical */

    /* ancho en % o px o combinar con max-width */
    margin: auto;  /* reparte sobrante anchura a cada lado*/
    width: 80%;    /* se adapta al ancho dispnible */
    max-width: 900px; /* limita adaptación a un máximo */
}

/* ejemplo sobre tabla en div.avanzado 
    - celdas vacías 
    - psición y estilso en caption 
    - hover */
.avanzado table {
    empty-cells: hide;
}

.avanzado th, .avanzado td {
    border: 1px solid blue;
}

.avanzado table {
    caption-side: bottom;  /* caption: posición por defecto top */
}

.avanzado caption {        /* decorando el caption */
    font-weight: bold;
    color: white;
    background-color: brown;
    text-align-last: left;
}

.avanzado tr:hover {        /* :hover */
    background-color: yellow;
}


/* ejemplo sobre tabla en div.otros 
- decorar th en función valor scope
- filas pares e impares
- centrar contenidos celdas td
- alinear th a izquierda o derecha
- padding en las celdas */

.otros th[scope="col"] {
    border-bottom: 1px solid #000;
    /* padding: 1em; */
    width: 20%;
    background-color: cyan;
}

.otros tr:nth-child(even) {
    background-color: silver;
}

.otros td {
    padding: 0.3em 0.5em;
}
.otros table {
    width: 90%;
    margin:auto;
}

