/* avanzados.css */

/*selectores*/

h1 {
    background-color: red;
}

/* si queremos encadenar selectores, agruparlos en un mismo estilo varios se hace asi (si eres h1 o h2 o h3 haz esto)*/
h1,h2,h3{
    background-color: red;
}

/* selector de clase*/
.novedad {
    background-color: cyan;
}
/*los parrafos de la clase novedad y clase urgente en amarillo*/
p.novedad.urgente{
    color: yellow;
}

/* ejemplo
<p class="novedad urgente"></p> */



/*atributos*/
abbr[title]{
    background-color: red;
}
/*que una etiqueta tenga un atributo title QUE SE LLAME PENDIENTE*/
[title="pendiente"] {
    background-color: black;
}

/* que una etiqueta tenga un atributo title QUE CONTENGA LA PALABRA PENDIENTE*/
[title*="pendiente"] {
    background-color: black;
}
/*cuando el atributo href de una etiqueta a TERMINE EN PDF*/
[href$=".pdf"]{
    background-color: chartreuse;
}

dfn[title]{
    background-color: pink;
}


/* sibling, que sean del mismo padre (al mismo nivel) y ademas el h4 tenga antes un h3 aunque no directamente (puede haber otros en medio) */

h3 ~ h4 {
    background-color: lightgoldenrodyellow;
}


/* dentro de */
article p{
    color: blue;
}

/* hijo de */
article > p{
    color: red;
    text-align: center;
}
/* adyacente, ejemplo, cuando haya un p que justo antes tiene un h1 al mismo nivel*/
h1+p,
h2+p{
    color: lime;
}


/* cualquier enlace que termine en .pdf*/
[href $=".pdf"]{
    background-color: darkorange;
}

/*cualquier enlace que comience en https*/
[href ^="https"]{
    background-color: darkorange;
}
